.cards-wrapper{
    display: flex;
    // width: 100%;
    justify-content: space-evenly;
    padding: 10rem 0 ;
    flex-wrap: wrap;
    gap: 1em;
}
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    min-width: 230px;
    height: 100%;
    max-width: 80%;
    box-shadow: 0 4px 4px #858585;
    height: 180px;
    background-color: white;
    padding: 2rem;
    font-size: 24px;
    font-weight: 900;
    justify-content: space-between;
    
    .card-icon{
        align-self: flex-end;
    }
    .content{
        font-size: inherit;
        p{
            font-size: inherit;
        }
        display: flex;
        flex-direction: column;
    }
}